<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/#" data-home={{home}}>HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/college" data-college={{college}}>COLLEGES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/career" data-career={{career}}>CAREERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile" data-user={{user-profile}}>PROFILE</a>
    </li>
    {{#if isloggedin}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">LOGOUT</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="#" id="sign-in-modal">LOG IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup" data-signup={{signup}}>SIGN UP</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> Modal/signin-block}}