<li>
	{{name}}

	<button class="change-fav" data-id="{{id}}" data-newfav="{{faved}}">
		{{#if faved}}saved{{else}}save{{/if}}
	</button>

	{{!-- <button class="delete-fav" data-id="{{this.id}}">DELETE!</button> --}}
</li>
